/* ESTILO GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* ENCABEZADO */
header {
    background-color: #750202; /* rojo */
    color: white;
    padding: 20px;
    text-align: center;
    animation: bajar 1s ease;
}

@keyframes bajar{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

header h1 {
    margin: 0;
    font-size: 40px;
}

/* MENÚ */
nav ul {
    list-style: none;
    padding: 15;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #24740f;
    transition: 0.5s;
}

/* HERO */
.hero {
    background: url('https://images.unsplash.com/photo-1588072432836-e10032774350') no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    animation: aparecer 2s forwards;
    opacity: 0;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.hero h2 {
    font-size: 55px;
    color:rgb(30, 25, 25);
}

.hero p {
    font-size: 30px;
    color:rgb(31, 27, 27);
}

.hero button {
    background-color: #670f0f; /* rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(45deg, #16650c, #16650c);
    border-radius: 25px;
}

.hero button:hover {
    background-color: #b71c1c;
    transform: scale(1.1);
}

/* SECCIÓN INFO */
.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: rgb(131, 211, 111);
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(250, 248, 248, 0.1);
    transition: 0,3s;
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0px 10px 20px rgb(17, 115, 8);
}

.card h3 {
    font-size: 27px;
}

/* FOOTER */
footer {
    background-color: #750202;
    color: white;
    text-align: center;
    padding: 10px;
}

/* BANNER NOSOTROS */
.banner {
    background: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644') no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.banner h2 {
    font-size: 35px;
}

.banner p {
    font-size: 18px;
}

/* CONTENIDO HISTORIA */
.contenido {
    padding: 40px;
    text-align: center;
}

.contenido h2 {
    color: #2e7d32;
    margin-bottom: 15px;
}

.contenido p {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
}
/* SECCIÓN DOCENTES */
.docentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

/* TARJETA DOCENTE */
.card-docente {
    background: white;
    width: 220px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card-docente:hover {
    transform: translateY(-10px);
}

/* IMAGEN DOCENTE */
.card-docente img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* NOMBRE */
.card-docente h3 {
    margin: 10px 0 5px;
    color: #2e7d32;
}

/* MATERIA */
.card-docente p {
    color: #555;
}
/* SECCIÓN NOTICIAS */
.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

/* TARJETA NOTICIA */
.card-noticia {
    background: white;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    text-align: center;
}

.card-noticia:hover {
    transform: translateY(-10px);
}

/* IMAGEN */
.card-noticia img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* TEXTO */
.card-noticia h3 {
    color: #2e7d32;
    margin: 15px 10px 5px;
}

.card-noticia p {
    padding: 0 15px;
    color: #555;
}

/* BOTÓN */
.card-noticia button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.card-noticia button:hover {
    background-color: #b71c1c;
}
/* SECCIÓN OFERTA */
.oferta {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

/* TARJETA OFERTA */
.card-oferta {
    background: white;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card-oferta:hover {
    transform: translateY(-10px);
}

.card-oferta h3 {
    color: #2e7d32;
}

/* MATERIAS */
.materias {
    text-align: center;
    padding: 30px;
}

.materias h2 {
    color: #2e7d32;
    margin-bottom: 15px;
}

.materias ul {
    list-style: none;
    padding: 0;
}

.materias ul li {
    background: #e8f5e9;
    margin: 8px auto;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
}
/* EQUIPO DIRECTIVO */
.equipo {
    text-align: center;
    padding: 40px;
}

.equipo h2 {
    color: #2e7d32;
    margin-bottom: 30px;
}

/* CONTENEDOR EQUIPO */
.equipo-contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* TARJETA EQUIPO */
.card-equipo {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card-equipo:hover {
    transform: translateY(-10px);
}

/* IMAGEN */
.card-equipo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* TEXTO */
.card-equipo h3 {
    margin: 10px 0 5px;
    color: #2e7d32;
}

.card-equipo p {
    color: #555;
}